.second{
    max-width: 30vw !important;
}
.parent{
    max-height: 33vh;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-right: -15px;
    margin-left:-15px;
    display: flex;
    color: #1d2679;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(27,27,27);

} 

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    background: white;
    width: 220px; 
    margin: 10px;
    border-radius: 15px;
}
.card-image { 
    background-color: aqua;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}


/*.website-1 {
    background-image: url('./');

}

.website-2 {
    background-image: url('./');
    
}

.website-3 {
    background-image: url('./');
    
}*/

.card h2 {
    padding: 10px;

}

.card p { 
    padding: 10px;
}

.card a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;

}

.card:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 1s ease;
    
}
